h1 {
    color: grey;
}
.blue_overline_text {
    color: blue;
    text-decoration: overline;
}
.maroon {
    color: rgb(168, 28, 28);
}
.pink{
    color:hotpink;
}
.green{
    color: green;
}
header{
    margin-bottom: 50px;
    font-size: 40px;
}
body{
    /* color: rgb(217, 32, 63); */
    background-size: cover;
}
.purple_underline_text {
    color: purple;
    text-decoration: underline;
}
.b_light{
    background-color: transparent;
}
.me{
    /* margin-top: 10%; */
    float: right;
    margin-right: 20%;
    margin-top: 5%;
}

.text-image{
    overflow: auto;
}
.margin{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 600px;
    margin-right: 300px; 
}
.margintop_main{
    margin-top: 200px;
}
.margintop_tabs{
    margin-top: 70px;
}
.marginbot_main{
    margin-top: 60px;
    margin-left: 700px;
}

.marginleft_main{
    margin-left: 100px;
}
.marginright_main{
    margin-right: 100px;
}
.size_Tonia{
    font-size: 50px;
    margin-top: 5px;
    /* margin-left: 200px; */
}
.text_main{
    
    /* margin-top: 200px; */
    font-weight: bold;
    font-size: 22px;
    font-style: italic;
    margin-right: 120px;
    margin-left: 200px;
}
.Hello{
    margin-left: 200px;
    margin-top: 200px;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
}
.background {
    /* background-color: pink; */
    background-image: url('background.jpg');
    margin-top: 20px;
    height: 100px;
    width:  2000px;
    background-size: cover;
    background-position: center;

}
.head_pp{
    text-align: center;
    /* margin-top: 50px; */
}
.project_layout1{
    margin-left: 100px;
    margin-right: 100px;
    color: purple; 
    text-size-adjust: 60px;
    font-size: 20px;
    
}
.bold{
    font-weight: bold;
}
.project_layout2{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    color: purple; 
    text-size-adjust: 40px;
    font-size: 20px;
    
}
.space{
    word-spacing: 30px;
}
.ATX{
    background-image: url('ATX.jpg');
    float: right;
    height: 500px;
    width:  500px;
    background-size: cover ;
}
.LRC{
    background-image: url('LRC.png');
    /* float: right; */
    height: 20px;
    width:  20px;
 
}
.scout{
    background-image: url('scout.png');
    /* float: right; */
    height: 223px;
    width:  223px;
    
}



body {
    background-color: rgb(223, 190, 196);
    background-image: url("background.jpg");
  }
.header_1{
    text-align: center;
    margin-top: 50px;
}

.contact-form {
    width: 50%;
    margin: 70px auto;
    padding: 20px;
    border: 3px solid #ddd;
    border-radius: 10px;
}
  
  
.contact-form label,
.contact-form input,
.contact-form textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 25px;
}

.contact-form .input-group {
    display: center;
}

.contact-form .input-group label,
.contact-form .input-group input {
    width: 50%;
    margin-bottom: 0;
}
.input-group input[type="text"] {
    width: 100%;
  }
.contact-form input[type="submit"] {
    background-color: rgba(221, 148, 160, 0.652);
    color: rgb(243, 243, 243);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.contact-form input[type="submit"]:hover {
    background-color: rgb(222, 108, 127)
}
.input-group label {
    font-size: 20px;
    color: purple;
}
.font_cm label{
    font-size: 20px;
    color: purple;
}


.pink{
    color: rgb(179, 133, 140);

}
.white{
    color: rgb(254, 254, 254);
    
}
.background {
    background-image: url('background.jpg');
    margin-top: 20px;
    height: 100px;
    width:  2000px;
    background-size: cover;
    background-position: center;

}

.toolbar {
    display: flex;
    justify-content: right;
}
.cm_via{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 23px;
    color: purple;
}
.cm_web{
    text-align: center;
    margin: 30px;
    color: purple;
}
button{
    margin: 10px;
}
.aboutme{
    text-align: center;
    font-size: 25px;
}
.box {
    /* margin-top: 3%; */
    width: auto;
    height: auto;
    background-color: rgba(201, 133, 143, 0.591);
    text-align: center;
    padding: 20px;
}
a{
    color:rgb(137, 26, 26);
    font-size: 20px;
    margin: 20px;
    
}
.pdf{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: rgb(149, 63, 160);
}
.resume{
    display: block;
   margin: 0 auto;
   width: 50%;
}
.box1 {
    margin-top: 3%;
    width: auto;
    height: auto;
    background-color: rgba(155, 77, 93, 0.632);
    text-align: center;
    padding: 25px;
}
.DC{
    width: 30%;
}
.DC_1{
    
    font-size: auto;
    color: purple;
    margin: auto;
}
.DC_2{
    width: 80%;
}
.SC{
    /* margin-top: 20%; */
    width: 40%
}
